<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ev Arkadaşı{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
    <nav style="background-color:#f9f2e4; padding: 10px; margin-bottom: 20px;">
        <a href="{{ url_for('dashboard') }}">🏠 Anasayfa</a> |
		<!-- örnek olarak navbar içine -->
		<a href="{{ url_for('mesajlasma', kullanici=session.username) }}">Mesajlaşmaya Git</a> |
        <a href="{{ url_for('ilanlar') }}">📄 İlanlar</a> |
        <a href="{{ url_for('post') }}">➕ Yeni İlan</a> |
        <a href="{{ url_for('kartlar') }}">🃏 Kartlar</a> |
		<a href="{{ url_for('bildirimler') }}"> |
			🔔 Bildirimler{% if bildirim_sayisi > 0 %} ({{ bildirim_sayisi }}){% endif %}
		</a>
        <a href="{{ url_for('logout') }}">🚪 Çıkış</a>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>
